<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VP</title>
    <link rel="stylesheet" href="{% static 'pages/about.css' %}">
</head>

<body>
    {% include 'bases/navbar.html' %}
    <main>
        <div>
            <h3>Sobre nós</h3>
            O nosso trabalho envolve o planeamento e execução de projetos nas 
            áreas de energias renováveis(energia solar) para uso pessoal, 
            remodelações(pinturas, cozinhas etc.) e canalizaçṏes.
            Também em outras áreas mais específicas como eletricidade e pladur.
    </main>

    {% include 'bases/footer.html' %}
</body>
</html>
