<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Energias Renováveis</title>
    <link rel="stylesheet" href={% static 'pages/style.css'>
</head>



<body>

    {% include 'bases/navbar.html' %}

    <div class="image">
        <div class="image-text">
            <h1 style="font-size:50px">Bem-Vindo</h1>
            <h3></h3>
        </div>
    </div>
    <main>
    <p>ads</p>
    <p>ads</p>
    <p>ads</p>
    <p>ads</p>
    <p>ads</p>
    <p>ads</p>
    </main>

    {% include 'bases/footer.html' %}
</body>



</html>
