{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'pages/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/fontawesome.min.css' %}" />
</head>

<footer class="footer">

    <div class="inner_footer">
        <div class="logo_container">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>

        <div class="footer_third">
            <h1>Need Help?</h1>
            <a href="#">Click Here for Help</a>
            <a href="#">Click Here for SUCK</a>
        </div>
        <div class="footer_third">
            <h1>Need Help?</h1>
            <a href="#">Click Here for Help</a>
            <a href="#">Click Here for SUCK</a>
        </div>
    </div>

</footer>
