{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'pages/navbar.css' %}" />
</head>
<header>
    <a href="{% url 'home-view' %}">
        <img class="logo" src="" alt="logo">
    </a>
    <nav class="nav_links">
        <ul>
            <li><a href="{% url 'about-view' %}">Serviços</a></li>
            <li><a href="#">Contactos</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropbtn" href="#">User</a>
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropbtn" href="#">BaseDeDados</a>
                <div class="dropdown-content">
                    <a href="{% url 'database:create-client' %}">Criar Cliente</a>
                    <a href="{% url 'database:list-clients' %}">Listar Clients</a>
                    <a href="{% url 'database:create-invoice' %}">Criar Fatura</a>
                    <a href="{% url 'database:list-invoices' %}">Listar Faturas</a>
                </div>
            </li>
            {% endif %}
       </ul>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
</header>
