<table style="width: 100%">
    <tr>
        <th>Client</th>
        <th>Data de Emissao</th>
        <th>Nome do provedor</th>
        <th>Nif do provedor</th>
        <th>Valor do servico</th>
        <th>Taxa de IVA</th>
        <th>Razao de abstencao de data de emissao</th>
        <th>Data de Serviço</th>
    </tr>
    {% for instance in object_list %}
    <tr>
        <td>Cliente: <a href='{{ instance.client.get_absolute_url }}'>{{ instance.client.name }}</a></td>
        <!--TODO: um botao ao lado do user 'apagar', fazer essa view e -->
        <!--implementar a funcionalidade--!>-->
        <td>{{ instance.emission_date }}</td>
        <td>{{ instance.provider_name }}</td>
        <td>{{ instance.provider_nif }}</td>
        <td>{{ instance.service_value }}</td>
        <td>{{ instance.iva }}</td>
        <td>{{ instance.tax_explanation }}</td>
        <td>{{ instance.service_value }}</td>
    </tr>
    {% endfor %}

</table>
